.tabs-container {
  display: flex;
  gap: 8px;
}

.tabs {
  background: white;
  border-radius: 28px;
  padding: 12px;
  box-shadow: 0px 20px 50px 0px #0000001f;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tabs--current {
  background: #e9e1ff;
  color: #7949ff;
}

.tabs img {
  width: 15px;
}