.slider {
  display: flex;
  align-items: center;
  gap: 30px;
}

.slider img {
  height: 200px;
  width: 150px;
  object-fit: cover;
}

.slider .slider__main-img {
  height: 250px;
  width: 200px;
}
